<html>
<title>aerCapstone 2020
</title>

    <head>
        
    </head>
    <body>
<style>
div.a {
  text-align: center;
}
</style>
<div class="a">
 <h1><marquee>Stay Safe, and Stay Home!</marquee></h1>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c0/University-of-Pittsburgh-at-Bradford-new.svg/1200px-University-of-Pittsburgh-at-Bradford-new.svg.png" alt="UPB" align="middle">
<font color="gold"><h1>
2020 Capstone
</h1>       
</font>
</div>

    </body>
</html>